body {
    background-color: rgb(55, 71, 193);
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-bottom: 50px;
}

header.container-fluid {
    background-color: white;
}

.main-heading {
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #3399FF;
    text-align: center;
}

/* #port-row {

    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;

} */

.column-image {
    text-align: center;
}

.last-row {
    padding-bottom: 20px;
}

.nav-link {
    font-weight: 700;
}

.row {
    margin-top: 50px;
  

}

.sub-heading {
    text-align: center;
    font-size: 22px;
}

#contact-cont {
    width: 30em;
    padding-bottom: 20px;
}

h4 {
    padding-top: 10px;
}

.image-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    /* align-content: space-around; */
    text-align: center;
    width: 40%;
    height: 500px;
    margin-bottom: 10px;
    border: 3px solid rgb(22, 77, 100);
   /* margin: 20px; */
   /* max-width: 200px; */
 
}

.image-link {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* width: 100%; */
    height: 60%;
  
}

.weather-pic {
    width: 100%;
}

.flex-wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* background-color: #e3f2fd; */

}

.description {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */

}

.p-text {
    padding-bottom: 15px;
    padding-left: 20px;
}

.home-pic {
    
    width: 200px;
    height: 200px;
    float: left; 
}

.port-pic {
    width: 100%;
    width: 150px;
    padding: 10px;

}

.pic2, .quiz-pic, .pw-pic {
    width: 300px;
}

main.container {
    background-color: white;
}

.p-cont {
    max-width: 50%;

    background-color: white;
    
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    
}

/* Responsive display for portfolio images on medium screens */  
@media only screen and (max-width: 768px) {
    .port-pic {
        max-width: 100%;
        height: auto;
        display: block; 
        width: auto;
    }   
}  

/* Responsive display for smaller screens */  
@media only screen and (max-width: 480px) {
    main.container { 
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    } 
   .p-cont {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }  
    .description {
        flex-direction: column;
        align-items: center;
    }

    .p-text {
        margin-top: 15px;
        padding-left: 0;
    }
    /* .home-pic {
        margin-right: 100px;
    } */
}  

/* For really small devices */
@media only screen and (max-width: 280px) {
    .main-heading {
        width: 100%;
    }
    .home-pic {
        margin-right: 0;
        width: 180px;
        height: 180px;
    }
}
