body {
    background-color:  #5F0F4E;
    color: #67AECA;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-bottom: 50px;
}	

header.container-fluid {
    background-color: #675682;
}

.link-style {
    color: #E52A6F;
    font-weight: 900;
    text-decoration: none;
}

a {
text-decoration: none !important;
color:  #E52A6F !important;
}

a.nav-link {
color: #67AECA !important;
}

a.active {
    background-color: #5F0F4E;
    border-radius: 50px;
}

.phone-text {
    color: #E52A6F;
}

.main-heading {
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #E52A6F;
    text-align: center;
}

.portfolio-item-caption-content {
    padding-bottom: 20px;
    font-size: 20px;
    color: #E52A6F;
}

.nav-name {
    color: #67AECA;
    font-size: 20px;
}

.row {
    margin-top: 10px;
}

.column-select {
    margin-bottom: 15px !important;
}

.sub-heading {
    text-align: center;
    font-size: 22px;
}

#contact-cont {
    width: 30em;
    padding-bottom: 20px;
}

.description {
    display: flex;
}

.p-text {
    padding-bottom: 15px;
    padding-left: 25px;
}

.home-pic {   
    width: 200px;
    height: 200px;
    float: left; 
}

main.container {
    background-color: #5F0F4E;
}

.p-cont {
    max-width: 60%;
    background-color: #5F0F4E;   
}

/* Responsive display for smaller screens */  
@media only screen and (max-width: 480px) {
    main.container { 
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    } 
   .p-cont {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }  
    .description {
        flex-direction: column;
        align-items: center;
    }
    .p-text {
        margin-top: 15px;
        padding-left: 0;
    } 
}  

